/*General Setup*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline-color: #30475e;
}

body {
    height: auto;
    font-size: 10px;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.3px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.block {
    display: block;
    width: 100%;
}

hr {
    margin: 20px auto;
}

h1,
h2 {
    margin: 0;
}

h1 {
    font-size: 2em;
    vertical-align: center;
}

h2 {
    margin: 8px auto;
    font-size: 1.7em;
}

legend {
    margin: 10px 0;
    font-size: 1.3em;
    font-weight: bold;
}

legend:first-of-type {
    padding-top: 10px;
}

h1,
h2,
header,
footer {
    text-align: center;
}


/* Header, Main, and Footer */

header,
main,
footer {
    width: 100%;
}

main,
.page-info {
    width: 90%;
    margin: auto;
}

main {
    border-top: 1px solid;
    margin-top: 0;
    margin-bottom: 25px;
    padding-top: 15px;
}

.top-banner,
button,
.copyright {
    color: #fff;
}

.top-banner,
footer {
    background-color: #222831;
}


/* Header */

.top-banner {
    padding: 25px;
}

.page-info {
    height: 80px;
    border-bottom: 2px solid;
    margin-bottom: 2px;
    margin-top: 15px;
}

.page-description {
    font-size: 1.3em;
}


/* Form */

form {
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border: none;
    padding: 0;
}

.contact-info div {
    margin: 10px auto 0 auto;
}

label,
p,
select {
    color: rgb(116, 114, 114);
}

label {
    display: block;
    margin: 10px 0 5px 0;
}

input,
select,
textarea,
button {
    background-color: #ece8e8;
    border: none;
    border-radius: 5px;
}

input,
select {
    margin-bottom: 10px;
}

input::placeholder {
    text-align: right;
    font-weight: 100;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
select,
textarea,
button {
    width: 100%;
    padding: 10px;
}


/* Zip Code Field */

input[type="number"] {
    width: 50%;
    max-width: 144px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="checkbox"],
input[type="radio"],
select,
textarea,
button {
    transition: all 0.5s;
}

input:active,
input:focus {
    font-size: 1.03em;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus {
    background-color: #f5f5f5;
}

.newsletter-preferences div {
    display: flex;
    align-items: center;
}

.newsletter-preferences label {
    display: inline-block;
}

.block {
    margin: 20px 0 5px 0;
}

.block:first-of-type {
    margin-top: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
    margin-top: 15px;
    width: 10px;
    height: 10px;
}

textarea {
    margin: 5px 0 20px 0;
}

button {
    padding: 10px;
    background-color: #2fc4b2;
    font-size: 1.3em;
}

button:hover,
button:active {
    background-color: #12947f;
    cursor: pointer;
}


/* Footer */

.footer {
    margin-top: auto;
    padding: 20px;
}

.copyright {
    font-style: italic;
}


/* Media Queries */

@media (min-width:768px) {
    body {
        font-size: 12px;
    }
    .page-info,
    main {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    hr {
        margin: 30px auto;
    }
    .page-info {
        margin-top: 40px;
    }
    .contact-info legend {
        margin-bottom: 25px;
    }
    .contact-info div {
        margin: 10px auto;
        display: flex;
    }
    .contact-info label,
    .contact-info input {
        display: inline-block;
    }
    .contact-info input,
    .contact-info select {
        flex-basis: 80%;
    }
    .contact-info label {
        flex-basis: 20%;
    }
    .newsletter-preferences legend {
        padding-top: 0;
        margin-bottom: 20px;
    }
}